/*jumbotron*/
.jumbotron {
    width: 100%;
    height: 340px; /* Sesuaikan dengan kebutuhan */
    display: block;
    background-image: url(../img/bgnew.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden; /* Tergantung pada kebutuhan desain */
  }
  
  .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 240px;
    position: absolute;
    background-image: linear-gradient(to top, rgba(95, 56, 185, 0.9), rgba(75, 74, 74, 0));
    top: 100px;
    z-index: 0;
  }
  
  .jumbotron .container {
    position: relative;
    z-index: 1;
  }

/* Info panel */
.utama-info-panel{
    margin-bottom: 35px;
}

.info-panel{
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	margin-top: -90px !important;
	border-radius: 30px;
	background-color: white;
	padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.info-panel img {
	width: auto;
	height: 160px;
    margin-top: 20px;
	/* margin-right: 20px !important; */
	margin-bottom: 10px !important;
}

.info-panel h4{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px !important;
}

.info-panel p{
	color: #acacac;
	font-size: 15px;
}



@media only screen and (min-width: 768px) and (max-width: 991px){
    .jumbotron{
        overflow: hidden;
        width: 100%;
        height: auto;
        display: block;
    }
    .container {
        width: 100%;
    }
    .about{
        margin-top: 15px !important;
    }
    .info-panel{
        margin-top: 10px !important;
    }
    .font-works h4{
        font-size: 18px;
    }
    .font-works p{
        font-size: 14px;
    }
    .fade-in{
        opacity: 0;
        /* transition: opacity 0.8s; */
        transform: translateY(20px);
        transition: opacity 0.7s ease-in, transform 0.7s ease-in;
    }
    .fade-in.visible{
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 767px) {
    .jumbotron{
        height: 100%;
        width: 100%;
    }
    .jumbotron::after{
        height: 200px;
    }
    .about{
        margin-top: 15px !important;
    }
    .info-panel{
        margin-top: 10px !important;
        max-width: fit-content;
    }
    .no-padding {
        padding-right: 30px !important;
        padding-left: 30px !important;
      }
    .utama-info-panel{
        margin: 5px;
    }
    .font-works h4{
        margin-top: auto;
        font-size: 18px;
    }
    .font-works p{
        margin-top: auto;
        font-size: 14px;
    }
    .social-media h4{
        margin-right: 0px !important;
    }
    .fade-in{
        opacity: 0;
        /* transition: opacity 0.8s; */
        transform: translateY(20px);
        transition: opacity 0.7s ease-in, transform 0.7s ease-in;
    }
    .fade-in.visible{
        opacity: 1;
        transform: translateY(0);
    }
}

.navigasi nav{
    color: white !important;
}

.about-up p{
    text-align: justify;
}

.about-und p{
    text-align: justify;
}

.social-media h4{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
    margin-top: 10px;
}

.image-wrapper{
    box-sizing: content-box;
    width: auto !important;
    height: 300px;
    overflow: hidden; 
}

.works{
    width: 100%; /* Gambar akan mengisi lebar wrapper */
    height: auto; /* Memastikan gambar tetap proporsional */
    display: block;
    transition: 0.5s;
}

.works:hover{
    transform: scale(1.05);
}
.blog{
    transition: 0.5s;
}
.blog:hover{
    transform: scale(1.02);
}

.fade-blog {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-in, transform 0.7s ease-in;
  }
  
  .fade-blog.open {
    opacity: 1;
    transform: translateY(0);
  }

  .new-fade{
    transition: all 3s ease;
  }
  
  .isi-blog{
    text-align: justify;
  }


.footer p{
    font-size: 14px;
}
